@keyframes blink {
    50% {
        opacity: 0;
    }
}

.caret {
    color: var(--neon-green);
    animation: blink 1s steps(2, end) infinite;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

.glitch:hover {
    animation: glitch 0.3s infinite;
    text-shadow:
        0 0 10px var(--neon-green),
        0 0 20px var(--neon-green),
        0 0 30px var(--neon-green);
}